* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: linear-gradient(135deg, #7b61ff, #9c7bff);
  min-height: 100vh;
  padding: 20px;
  color: white;
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* CARD */
.card {
  margin-top: 20px;
  padding: 15px;
  border-radius: 25px;

  background: rgba(255,255,255,0.1);
  backdrop-filter: blur(20px);

  border: 1px solid rgba(255,255,255,0.2);
}

/* ITEM */
.item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 15px;
  padding: 15px;
  border-radius: 20px;

  background: rgba(255,255,255,0.15);
}

.left {
  display: flex;
  gap: 10px;
  align-items: center;
}

.icon {
  width: 40px;
  height: 40px;
  border-radius: 12px;
  background: rgba(255,255,255,0.2);

  display: flex;
  justify-content: center;
  align-items: center;
}

.right {
  font-weight: bold;
}

.plus {
  color: #4dff88;
}

.minus {
  color: #ff6b6b;
}

/* BUTTON */
.download-btn {
  width: 100%;
  margin-top: 20px;
  padding: 15px;

  border-radius: 15px;
  border: none;

  background: linear-gradient(135deg, #ffb6d9, #ffd6ec);
  color: #5a3cff;

  font-size: 16px;
  font-weight: 600;
}

body {
  transition: all 0.3s ease;
}

.card, .nav, button {
  transition: all 0.3s ease;
}

body.dark {
  background: #0f172a !important;
}